extends layout


block content
  h1= title
  p Welcome to Makersbnb
  
  h3 Sign in to your profile
  #signIn
    fieldset
      input#inputEmail(type='text', placeholder='e-mail')
      input#inputPassword(type='text', placeholder='password')
      br
      P
      button#btnSignin Sign in
   
